
body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34,34,34);
    background: #dfdfdf;
}

.profile{
    text-align: center;

}

.foto{

    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin: 30px 30px 0 30px;
    box-shadow: 0px 0px 10px rgb(114, 107, 107);
    
}

p{
    color: #222222;
}

.h3cf{
    margin-bottom: 0px;
}
.paragrafo_1{
    margin-top: 0%;
    color: #222222;
}

.h2cf{
    margin-top: 0px;
    font-style: italic;
    font-weight: 100;
    
    letter-spacing: -1px;
}

.paragrafo_2{
    
    margin-bottom: 0px;
    color: #222222;
}

.h1cf{
    margin-bottom: 0px;
    color: #222222;
    font-weight: 0;
    margin-top: 0px;
}

.container{
    width: 900px;
    margin: 0 auto;
}


